<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cardiac center_Order</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles_web.css" />
    <link rel="stylesheet" href="styles_order.css" />
  </head>
  <body>
    <div class="container">
      <div class="backgroundApp">
        <h1 class="header">ardiac center</h1>
        <h2 class="imgHeart"><img src="heart.png" height="70px" /></h2>
        <h3 class="sub_header">MANAGEMENT</h3>
        <h4 class="imgnotification">
          <img src="notification.png" height="40px" />
        </h4>
        <div class="Manu">
          <p1 class="main1">OVERVIEW</p1>
          <br />
          <p2 class="manu1"><a href="statistic.html">STATISTIC</a></p2>
          <p3 class="imgstatistic"
            ><img src="statistic.png" height="50px"
          /></p3>
          <br />
          <p4 class="manu2"><a href="register.html">REGISTER</a></p4>
          <p5 class="imgregister"><img src="register.png" height="40px" /></p5>
          <br />
          <p6 class="main2">PRESRIPTION</p6>
          <br />
          <p7 class="manu3"><a href="order.html">ORDER</a></p7>
          <p8 class="imgorder"><img src="order.png" height="40px" /></p8>
          <br />
          <p9 class="manu4"><a href="preview.html">PREVIEW</a></p9>
          <p10 class="imgpreview"><img src="preview.png" height="40px" /></p10>
          <br />
          <p11 class="main3">MEDICAL RECORD</p11>
          <br />
          <p12 class="manu5"
            ><a href="patients.html">PATIENTS LIST</a></p12
          >
          <p13 class="imgpatients"
            ><img src="patients list.png" height="40px"
          /></p13>
          <br />
          <p14 class="manu6"
            ><a href="medication.html">MEDICATION HISTORY</a></p14
          >
          <p15 class="imgmedication"
            ><img src="medication history.png" height="40px"
          /></p15>
        </div>

        <div class="status"></div>

        <div class="sub_background">
          <h1 class="Topic">Prescription</h1>
          <h2 class="Topicsecond">ใบสั่งยา</h2>
          <h3 class="Topicthird">บันทึกการสั่งยา</h3>
          <button class="btn-submitsave" type="submit">SAVE</button>
          <div class="sub1">
            <div>
              <p1 class="subject1">HN</p1>
              <p2 class="subject2">Name</p2>
            </div>
            <div class="textbox4">
              <input type='text' v-model='HN'></input>
              <br/><br/>
              <input type='radio' v-model='Gender'></input>&nbsp;&nbsp;
                  <p1>Male</p1>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type='radio'></input>&nbsp;&nbsp;
                  <p2>Female</p2>
            </div>
            <div class="center_Order">
              <p1>วันที่ลงข้อมูล</p1>
              <br/><br/>
              <p2>ผู้ที่กรอกข้อมูล</p2>
            </div>
          </div>
          <div class="sub2">
            <h1 class="textone">ค้นหา</h1>
            <input class="textboxsub1" type='text' v-model='Drug name'></input>
            <br/>
            <input class="textboxsub2" type='text' v-model='list'></input>
            <br/>
            <h2 class="texttwo">วันละ</h2>
            <input class="textboxsub3" type='number' v-model='Drug number'></input>
            <h3 class="textthree">เม็ด</h3>
            <h4 class="textfour">Drug Signature</h4>
            <input class="textboxsub4" type='text' v-model='Drug Signature'></input>
            <br/>
            <h5 class="textfive">เวลา</h5>
            <input class="textboxsub5" type='text' v-model='Time'></input>
            <br/>
            <button class="btn-submitadd" type="submit">ADD</button>
          </div>
          <div class="sub3">
            <table class="totaltable">
              <thead>
                <tr>
                  <th class="tablehead1"></th>
                  <th class="tablehead2">รายการยา</th>
                  <th class="table">ครั้งละกี่เม็ด</th>
                  <th class="table">เวลาที่รับประทาน</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="tablehead1"></td>
                  <td class="tablehead2"></td>
                  <td class="table"></td>
                  <td class="table"></td>
                </tr>
                <tr>
                  <td class="tablehead1"></td>
                  <td class="tablehead2"></td>
                  <td class="table"></td>
                  <td class="table"></td>
                </tr>
                <tr>
                  <td class="tablehead1"></td>
                  <td class="tablehead2"></td>
                  <td class="table"></td>
                  <td class="table"></td>
                </tr>
                <tr>
                  <td class="tablehead1"></td>
                  <td class="tablehead2"></td>
                  <td class="table"></td>
                  <td class="table"></td>
                </tr>
                <tr>
                  <td class="tablehead1"></td>
                  <td class="tablehead2"></td>
                  <td class="table"></td>
                  <td class="table"></td>
                </tr>
                <tr>
                  <td class="tablehead1"></td>
                  <td class="tablehead2"></td>
                  <td class="table"></td>
                  <td class="table"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
